@use "../1-settings/settings.global" as style-settings-global;
@use "../../../../node_modules/sass-mq/mq" as *;

.c-navigation {
  box-sizing: border-box;
  width: 100%;
  background: style-settings-global.$color-quaternary;
  box-shadow: 0 0 5px 0 rgba(black, .5);

  &__list {
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 16px;
    list-style: none;

    @include mq($from: mobile) {
      display: flex;
    }
  }

  &__link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 8px;
    font-size: 1em;

    @include mq($from: mobile) {
      margin: 0 12px;
      padding: 8px;
      font-size: 1em;
    }

    @include mq($from: tablet) {
      margin: 0 24px;
      padding: 8px;
      font-size: 1.5em;
    }
  }
}
