@use "../1-settings/settings.global" as style-settings-global;
@use "../../../../node_modules/sass-mq/mq" as *;

.c-picture__img {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;

  @include mq($from: mobile) {
    width: 350px;
  }
}

.c-picture--right {
  @include mq($from: mobile) {
    float: right;
    padding-left: 16px;
  }
}

.c-picture--left {
  @include mq($from: mobile) {
    float: left;
    padding-right: 16px;
  }
}
