@use "../1-settings/settings.global" as style-settings-global;
@use "../../../../node_modules/sass-mq/mq" as *;

.c-picture {
  &__img {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;

    @include mq($from: mobile) {
      width: 350px;
    }
  }

  &--right {
    @include mq($from: mobile) {
      float: right;
      padding-left: 16px;
      margin-right: 12px;
    }
  }

  &--left {
    @include mq($from: mobile) {
      float: left;
      padding-right: 16px;
      margin-left: 12px;
    }
  }
}
