@use "../1-settings/settings.global" as style-settings-global;

.c-footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  background-color: style-settings-global.$color-quaternary;
  color: style-settings-global.$color-secondary;
}
