.c-picture {
  &__img {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;

    @media (min-width: $mq-mobile-min-width) {
      width: 350px;
    }
  }

  &--right {
    @media (min-width: $mq-mobile-min-width) {
      float: right;
      padding-left: 16px;
      margin-right: 12px;
    }
  }

  &--left {
    @media (min-width: $mq-mobile-min-width) {
      float: left;
      padding-right: 16px;
      margin-left: 12px;
    }
  }
}
