<nav class="c-navigation">
  <ul class="c-navigation__list">
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#inici">Inici</a>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#toponimia">Toponímia</a>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#geografia">Geografia</a>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#relleu">Relleu</a>
    </li>
  </ul>
</nav>
