<!-- eslint-disable @html-eslint/element-newline -->
<section class="c-content__section u-clearfix" id="geografia">
  <h2><i class="fa-regular fa-compass"></i>Geografia</h2>
  <picture class="c-picture--left">
    <source srcset="./assets/images/Canal_de_Seros_2.jpeg?as=avif&width=350" type="image/avif">
    <img
      src="./assets/images/Canal_de_Seros_2.jpeg?width=350"
      alt="El riu Segre a Lleida, amb el partidor que dona inici al Canal de Seròs"
      class="c-picture__img">
  </picture>
  <p>
    El Segrià estricte i nucli central de la comarca és el territori inclòs
    entre la zona nord de la ciutat de Lleida i els límits del terme d'Alguaire,
    i entre el <a
      href="https://ca.wikipedia.org/wiki/Noguerola_(riu)"
      target="_blank"
      rel="noopener noreferrer">Noguerola</a> i la Noguera <a
      href="https://ca.wikipedia.org/wiki/Noguera_Ribagor%C3%A7ana"
      target="_blank"
      rel="noopener noreferrer">Ribagorçana</a>.
  </p>
  <p>
    El sector central és constituït per les planes al·luvials del <a
      href="https://ca.wikipedia.org/wiki/Segre"
      target="_blank"
      rel="noopener noreferrer">
      Segre</a>. El Segre travessa la comarca de nord-est a sud-oest i ha format una ampla
    plana al seu entorn. Topogràficament és una continuació del pla d'<a
      href="https://ca.wikipedia.org/wiki/Urgell"
      target="_blank"
      rel="noopener noreferrer">
      Urgell</a>, nom que està pres per a designar una nova comarca centrada a
    <a
      href="https://ca.wikipedia.org/wiki/Mollerussa"
      target="_blank"
      rel="noopener noreferrer">
      Mollerussa
    </a>. La plana de l'entorn del Segre és coneguda com el <a
      href="https://ca.wikipedia.org/wiki/Pla_de_Lleida"
      target="_blank"
      rel="noopener noreferrer">
      pla de Lleida
    </a>.
  </p>
  <p>
    El pla de Lleida només és una part del Segrià actual. La plana del Segre que
    continua cap al nord ja és dins la comarca de la Noguera. Cap al sud la
    plana s'estreny, fins a ser només una plana estreta i allargassada al llarg
    de les ribes del riu. Els tossals i serrats són molt propers al curs del
    riu. A l'extrem sud-oest hi ha l'aiguabarreig del Segre amb el <a
      href="https://ca.wikipedia.org/wiki/Cinca"
      target="_blank"
      rel="noopener noreferrer">Cinca</a>, en el límit amb <a
      href="https://ca.wikipedia.org/wiki/Arag%C3%B3"
      target="_blank"
      rel="noopener noreferrer">Aragó</a>. Aquest sector és conegut com el <a
      href="https://ca.wikipedia.org/wiki/Baix_Segre"
      target="_blank"
      rel="noopener noreferrer">Baix Segre</a>.
  </p>
  <p>
    Cap al nord-est, entre els rius Segre, Noguera Ribagorçana i Cinca, hi ha un
    territori planer amb turons baixos i serres d'escassa altitud. Ja no és la
    plana al·luvial que han format aquests rius, sinó un sector una mica
    enlairat que els petits cursos i torrents hi han excavat barrancs i petites
    valls de fons pla. Entre aquestes petites valls hi ha tossals i turons que
    testimonien antics nivells dels materials sedimentaris. El nom de Segrià era
    aplicat originàriament a aquest territori.
  </p>
  <p>
    Un relleu semblant es troba al cantó sud-est, en el límit amb les Garrigues
    i la Ribera d'Ebre. El territori és constituït per nombrosos tossals i
    serres d'escassa altitud, entre les quals hi ha rius i torrents que van
    gairebé sempre secs. Aquest sector recorda molt el paisatge de les
    Garrigues. De fet n'és la continuació i alguns l'anomenen Segrià garriguenc.
    Cap al sud el relleu es fa més abrupte, a causa de la proximitat de l'<a
      href="https://ca.wikipedia.org/wiki/Ebre"
      target="_blank"
      rel="noopener noreferrer">Ebre</a>.
  </p>
  <p>
    El Segrià és doncs, una comarca constituïda per una <a
      href="https://ca.wikipedia.org/wiki/Plana_al%C2%B7luvial"
      target="_blank"
      rel="noopener noreferrer">plana al·luvial</a> i per sectors de tossals que la voregen.
  </p>
  <p>
    El Segrià aprovat en la divisió comarcal de 1932 i 1936, i que inicial ment
    establí la Generalitat el 1987, comprenia també un sector del pla d'Urgell.
    Amb la creació, el 1988, de la nova comarca del Pla d'Urgell, set municipis
    de l'antiga comarca del Segrià foren inclosos a la nova comarca. Bell-lloc
    d'Urgell, Fondarella, Golmés, Miralcamp, Mollerussa, Palau d'Anglesola i
    Sidamon passaren a formar part del Pla d'Urgell. Amb aquesta segregació el
    Segrià perdé un dels territoris més actius demogràficament i econòmica dels
    darrers anys.
  </p>
  <p>
    La llei de modificació de la divisió comarcal de Catalunya de gener de 1990
    modificà de nou el Segrià amb l'agregació dels municipis d'Alfarràs i la
    Portella, fins aleshores pertanyents a la Noguera.
  </p>
  <p>
    El Segrià actual té una superfície de 1.396,65 km² i una població de 209.768
    h. És la comarca globalment més poblada i més activa econòmicament de la
    meitat occidental de Catalunya. Els diferents paisatges naturals han
    condicionat diferències destacades en el desenvolupament econòmic de la
    comarca. El centre econòmic és sens dubte la ciutat de Lleida, ciutat que té
    una influència comercial i de serveis molt més enllà del Segrià, fins i tot
    en les terres aragoneses més properes.
  </p>
  <p>
    L'agricultura ha estat la base de l'economia del Segrià. El regadiu, ja
    antic en les planes baixes del Segre, ha estat el factor principal en el
    creixement econòmic del darrer segle. Al costat de l'agricultura ha crescut
    una ramaderia molt tecnificada, que s'ha estès per totes les sis comarques
    de ponent. Però a Lleida també hi ha una activitat industrial notable. A
    més, Lleida s'ha convertit en el centre de serveis i cultural més important
    de les terres de ponent.
  </p>
</section>
