<section class="c-content__section" id="toponimia">
  <h2>
    <i class="fa-solid fa-map-location-dot"></i>
    Toponímia
  </h2>
  <picture class="c-picture--left">
    <img
      src="./assets/images/Bandera_del_Segria.svg"
      alt="Bandera del Segrià"
      class="c-picture__img">
  </picture>
  <p>
    El nom de la comarca no prové del riu Segre com es pot pensar, sinó que ho
    fa de la clamor de Segrià, nom d'un reguer documentat al segle xii a
    l'Ordinatio Ecclesiae Ilerdensis, promulgada el 1168 pel bisbe Guillem Pere
    de Ravidats i on establia la divisió eclesiàstica coneguda com la
    Prepositòria de Segrià. Aquesta clamor es forma amb barrancs de pluja, entre
    els termes d'Alguaire i la Portella, i discorre per Vilanova de Segrià i
    Benavent, on desguassa al Segre. És, per tant, un petit afluent del Segre,
    el nom del qual prové del llatí Sicoris.
  </p>
</section>
