<!-- eslint-disable @html-eslint/attrs-newline -->
<section class="c-content__section u-clearfix" id="relleu">
  <h2 class="u-clearfix">
    <i class="fa-solid fa-mountain-sun"></i>
    Relleu
  </h2>
  <picture class="c-picture--right">
    <source
      srcset="./assets/images/Lleida-Udl5.jpg?as=avif&width=350"
      type="image/avif">
    <img
      src="./assets/images/Lleida-Udl5.jpg?width=350"
      alt="La Universitat de Lleida"
      class="c-picture__img">
  </picture>
  <p>
    Per entendre el relleu del Segrià cal tenir present la història dels darrers
    milions d'anys. Per al relleu són pocs anys. Imagineu-vos el fons de la
    Depressió Central. És una gran plana, formada pels materials que s'han
    sedimentat al fons del mar o al llac que hi havia. Sobre aquestes roques
    s'hi han dipositat els materials que han anat descendint de les muntanyes
    veïnes, arrossegats per les aigües torrencials.
  </p>
  <p>
    Tot plegat formà un relleu planer, que amb el temps es deformà una mica, a
    causa de les formes de l'interior de la terra. Aquestes deformacions es
    veuen bé a les Garrigues i a la Segarra. Però al Pla d'Urgell i al Segrià hi
    ha hagut dos fenòmens que han fet que encara ara tinguem un relleu molt pla.
    El primer fou els materials que anaven baixant pels vessants des de les
    muntanyes veïnes més elevades, arrossegats per les aigües salvatges. El
    segon fou els rius, concretament el Segre, que encara que obrí valls,
    aquestes han anat reomplint-se amb els materials que el mateix riu ha
    transportat.
  </p>
  <p>
    El resultat és l'existència d'una vall al·luvial ampla, plana i amb
    materials poc consolidats, sobre els quals s'han format sòls fèrtils. Entorn
    de la plana al·luvial hi ha la plana modelada amb els materials que baixaren
    torrencialment, i les restes de materials que es dipositaren al fons de
    l'antiga conca de la Depressió Central.
  </p>
  <p>
    Aquests darrers es veuen molt bé en els sectors nord-oest i sud-est del
    Segrià. La duresa i resistència diferents dels materials han fet que s'hagin
    format turons i tossals. Les capes dures al cim dels tossals són testimoni
    de fins on arribava el nivell dels materials antics. Per això sovint són
    anomenats turons testimoni.
  </p>
  <p>
    Alguns són ben espectaculars, sobretot quan hi ha diverses capes dures i els
    materials tenen colors diferents. L'escassetat de vegetació a causa del
    clima fa que molts d'aquests tossals estiguin totalment sense vegetació, el
    que facilita l'observació dels diferents tipus de materials. Un dels més
    espectaculars i bonics és el Montmeneu (494 m), al sud de la comarca, a prop
    de l'aiguabarreig del Segre i l'Ebre.
  </p>
</section>
