<section
  class="c-content__section"
  id="inici"
  data-default="true">
  <h2>
    <i class="fa-solid fa-house"></i>
    Inici
  </h2>
  <picture class="c-picture--right">
    <source srcset="./assets/images/Segria_a_Catalunya.svg?as=avif&width=350" type="image/avif">
    <img
      src="./assets/images/Segria_a_Catalunya.svg?width=350"
      alt="La Universitat de Lleida"
      class="c-picture__img">
  </picture>
  <p class="u-clearfix">
    El Segrià és una comarca de Catalunya, la seva capital és Lleida. És la
    setena comarca més poblada de Catalunya. Limita al nord amb la Noguera, a
    l'est amb el Pla d'Urgell i les Garrigues, al sud amb la Ribera d'Ebre, i a
    l'oest amb el Baix Cinca i el Matarranya.
  </p>

  <h3>
    <i class="fa-solid fa-signs-post"></i>
    Resum
  </h3>
  <table>
    <tr>
      <td>Gentilici</td>
      <td>segrianenc, segrianenca</td>
    </tr>
    <tr>
      <td>Població</td>
      <td>209.818 (2019) (150,22 hab./km²)</td>
    </tr>
    <tr>
      <td>Població</td>
      <td>209.818 (2019) (150,22 hab./km²)</td>
    </tr>
    <tr>
      <td>Limita amb</td>
      <td>
        <ul class="o-list-star">
          <li>Noguera</li>
          <li>Llitera</li>
          <li>Baix Cinca</li>
          <li>Ribera d'Ebre</li>
          <li>Pla d'Urgell</li>
          <li>Garrigues</li>
          <li>Baix Aragó - Casp</li>
        </ul>
      </td>
    </tr>
  </table>

  <h3>
    <i class="fa-solid fa-circle-info"></i>
    Vegeu també
  </h3>
  <ul class="fa-ul">
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-bookmark"></i>
      </span>
      <a
        href="https://ca.wikipedia.org/wiki/Llista_de_banderes_municipals_del_Segri%C3%A0"
        target="_blank"
        rel="noopener noreferrer">Llista de banderes municipals del Segrià</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-bookmark"></i>
      </span>
      <a
        href="https://ca.wikipedia.org/wiki/Arxiu_Hist%C3%B2ric_de_Lleida"
        target="_blank"
        rel="noopener noreferrer">Arxiu Històric de Lleida</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-bookmark"></i>
      </span>
      <a
        href="https://ca.wikipedia.org/wiki/Llista_de_monuments_del_Segri%C3%A0"
        target="_blank"
        rel="noopener noreferrer">Llista de monuments del Segrià</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-bookmark"></i>
      </span>
      <a
        href="https://ca.wikipedia.org/wiki/Serra_de_la_Pleta"
        target="_blank"
        rel="noopener noreferrer">Serra de la Pleta</a>
    </li>
  </ul>
</section>
