@use "../1-settings/settings.global" as style-settings-global;

h1,
h2,
h3 {
  font-family: style-settings-global.$font-family-serif;
  color: style-settings-global.$color-quaternary;
  text-align: center;

  @media (min-width: style-settings-global.$mq-mobile-min-width) {
    text-align: left;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;

  @media (min-width: style-settings-global.$mq-mobile-min-width) {
    font-size: 36px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 700;

  @media (min-width: style-settings-global.$mq-mobile-min-width) {
    font-size: 24px;
  }
}
