h1,
h2,
h3 {
  font-family: $font-family-serif;
  color: $color-quaternary;
  text-align: center;

  @media (min-width: $mq-mobile-min-width) {
    text-align: left;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;

  @media (min-width: $mq-mobile-min-width) {
    font-size: 36px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 700;

  @media (min-width: $mq-mobile-min-width) {
    font-size: 24px;
  }
}
