@use "../1-settings/settings.global" as style-settings-global;

a {
  color: style-settings-global.$color-primary;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: style-settings-global.$color-ternary;
}
