@use "../1-settings/settings.global" as style-settings-global;
@use "../../../../node_modules/sass-mq/mq" as *;

h1,
h2,
h3 {
  font-family: style-settings-global.$font-family-serif;
  color: style-settings-global.$color-quaternary;
  text-align: center;

  @include mq($from: mobile) {
    text-align: left;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;

  @include mq($from: mobile) {
    font-size: 36px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 700;

  @include mq($from: mobile) {
    font-size: 24px;
  }
}
